@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(../public/assets/summer-bg.jpg) center/cover no-repeat;
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  transition: background-image 0.3s ease-in-out;
}

input[type="range"] {
  width: 100%;
  max-width: 300px;
  height: 10px;
  background: #fff;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  margin: 30px auto;
  display: block;
}

input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 50px;
}

.title-wrap {
  padding: 20px 40px;
  border-radius: 20px;
  backdrop-filter: blur(30px);
  max-width: fit-content;
  margin: 50px auto;
}

.sound-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.sound-card {
  position: relative;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #fff;
  transition: transform 0.3s ease-in-out;

  &-active {
    border: 3px solid #fff;
  }

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
  }

  &-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  audio {
    width: 100%;
  }
}