@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f6f6;
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  color: #666;
  text-align: center;
  font-size: 50px;
  margin: 50px 0;
}

.sound-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.sound-card {
  position: relative;
  width: 100%;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
  }

  &-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  audio {
    width: 100%;
  }
}